<footer class="main-footer">
    <div class="container">
        <div class="row row-gutter-y-30">
            <div class="col-lg-4 col-md-6">
                <div class="footer-widget footer-widget--about">
                    <a href="/" class="footer-widget__logo">                        
                        <img src="~/Content/IMG-CRESE/LogoBlanco.png" alt="finlon" width="150" height="82">
                    </a>
                    <p class="footer-widget__text">
                        CRESE ASESORIA PROFESIONAL es una empresa 100% mexicana de préstamos con garantía de autos.
                    </p>
                    <ul class="list-unstyled footer-widget__info">
                        <li>
                            <i class="icon-email"></i>
                            <a href="mailto:asesor@cresetuauto.mx">asesor@cresetuauto.mx</a>
                        </li>
                        <li>
                            <i class="icon-telephone"></i>
                            <a href="tel:2282906298">228 290 6298</a>
                        </li>
                    </ul><!-- /.list-unstyled -->
                </div><!-- /.footer-widget -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-2 col-md-6">
                <div class="footer-widget footer-widget--links">
                    <h3 class="footer-widget__title">
                        Explora
                    </h3><!-- /.footer-widget__title -->
                    <ul class="list-unstyled footer-widget__menu">
                        <li><a href="@Url.Action("Index","Blog")">Blog</a></li>
                        <li><a href="@Url.Action("Contacto","Home")">Contacto</a></li>
                        <li><a href="@Url.Action("AvisoPrivacidad","Home")">Aviso de Privacidad</a></li>
                        <li><a href="@Url.Action("TerminosyCondiciones","Home")">Términos y Condiciones</a></li>
                    </ul><!-- /.list-unstyled footer-widget__menu -->
                </div><!-- /.footer-widget -->

            


            </div><!-- /.col-lg-2 -->
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget footer-widget--time">
                    <h3 class="footer-widget__title">
                        Horario de atención
                    </h3><!-- /.footer-widget__title -->
                    <p class="footer-widget__text">
                        Lunes a Viernes: 9:00am - 7:00pm <br> Sabado: 9:00am - 2:00pm <br> Domingo: Cerrado
                    </p>
                    <div class="footer-widget__social">                        
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-whatsapp"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div><!-- /.footer-widget__social -->
                </div><!-- /.footer-widget -->
            </div><!-- /.col-lg-3 -->
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget footer-widget--newsletter">
                    <h3 class="footer-widget__title">
                        Boletin informativo
                    </h3><!-- /.footer-widget__title -->
                    <form class="footer-widget__mailchimp">
                        <input type="email" placeholder="Email">
                        <p class="footer-widget__mailchimp__text">
                            <i class="fa fa-check"></i>
                            Acepto todos sus términos y políticas
                        </p><!-- /.footer-widget__mailchimp -->
                    </form><!-- /.footer-widget__mailchimp -->
                </div><!-- /.footer-widget -->
            </div><!-- /.col-lg-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</footer><!-- /.main-footer -->



<div class="bottom-footer">
    <div class="container">
        <p class="bottom-footer__text text-center">Copyright &copy; 2022 All Rights Reserved.</p>
        <!-- /.bottom-footer__text -->
    </div><!-- /.container -->
</div><!-- /.bottom-footer -->