
<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Auto y Varo SA de CV</title>

    <!-- Favicon -->
    <link rel="icon" href="~/Content/Page/img/core-img/favicon.ico">
    <!-- Stylesheet -->


    <link rel="apple-touch-icon" href="~/Content/assets/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="~/Content/assets/images/favicon.ico">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/Content/global/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/global/css/bootstrap-extend.min.css">

    <link rel="stylesheet" href="~/Content/Page/style.css">


    <link href="~/Content/assets/examples/css/widgets/data.css" rel="stylesheet" />


    <!-- Plugins -->
    <link rel="stylesheet" href="~/Content/global/vendor/animsition/animsition.css">
    <link rel="stylesheet" href="~/Content/global/vendor/asscrollable/asScrollable.css">
    <link rel="stylesheet" href="~/Content/global/vendor/switchery/switchery.css">
    <link rel="stylesheet" href="~/Content/global/vendor/intro-js/introjs.css">
    <link rel="stylesheet" href="~/Content/global/vendor/slidepanel/slidePanel.css">
    <link rel="stylesheet" href="~/Content/global/vendor/flag-icon-css/flag-icon.css">
    <link rel="stylesheet" href="~/Content/global/vendor/jquery-wizard/jquery-wizard.css">
    <link rel="stylesheet" href="~/Content/global/vendor/formvalidation/formValidation.css">
    <link rel="stylesheet" href="~/Content/global/vendor/toastr/toastr.css">


    <!-- Fonts -->
    <link rel="stylesheet" href="~/Content/global/fonts/web-icons/web-icons.min.css">
    <link rel="stylesheet" href="~/Content/global/fonts/brand-icons/brand-icons.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

    <!--[if lt IE 9]>
    <script src="~/Content/global/vendor/html5shiv/html5shiv.min.js"></script>
    <![endif]-->
    <!--[if lt IE 10]>
    <script src="~/Content/global/vendor/media-match/media.match.min.js"></script>
    <script src="~/Content/global/vendor/respond/respond.min.js"></script>
    <![endif]-->
    <!-- Scripts -->
    <script src="~/Content/global/vendor/breakpoints/breakpoints.js"></script>
    <script>
        Breakpoints();
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-951753375"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'AW-951753375');</script>

    <!-- Event snippet for Envio de formulario para clientes potenciales conversion page -->
    <script>gtag('event', 'conversion', { 'send_to': 'AW-951753375/KXy7CLbyqoEYEJ-16sUD', 'value': 1.0, 'currency': 'MXN' });</script>

    <!--[if lt IE 9]>
    <script src="~/Content/assets/vendor/html5shiv/html5shiv.min.js"></script>
    <![endif]-->
    <!--[if lt IE 10]>
    <script src="~/Content/assets/vendor/media-match/media.match.min.js"></script>
    <script src="~/Content/assets/vendor/respond/respond.min.js"></script>
    <![endif]-->
    <!-- Scripts -->
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 d-flex justify-content-between">
                        <!-- Logo Area -->
                        <div class="logo">
                            <a href="index"><img src="~/Content/Page/img/core-img/logo.png" alt=""></a>
                        </div>

                        <!-- Top Contact Info
                        <div class="top-contact-info d-flex align-items-center">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="25 th Street Avenue, Los Angeles, CA"><img src="~/Content/Page/img/core-img/placeholder.png" alt=""> <span>25 th Street Avenue, Los Angeles, CA</span></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="asesor@autoyvaro.com"><img src="~/Content/Page/img/core-img/message.png" alt=""> <span>asesor@autoyvaro.com</span></a>
                        </div-->
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="credit-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="creditNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span>classycloseIcon</div>
                            </div>

                            <!-- Nav Start
                            <div class="classynav">
                                <ul>
                                    <li class="active"><a href="@Url.Action("Index","Home")">Simulador tu Crédito</a></li>
                                    <li><a href="contact">Contacto</a></li>
                                </ul>
                            </div>-->
                            <!-- Nav End -->
                        </div>

                        <!-- Contact
                        <div class="contact">
                            <a href="#"><img src="~/Content/Page/img/core-img/call2.png" alt="">(228)-3 11 19 99</a>
                        </div>
                            -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    <!-- Page -->
    <!-- 
    <!--<div class="page">
        
    </div>-->
    <!-- End Page -->
    <!-- Footer -->
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area section-padding-100-0">
        <div class="container">
            <div class="row">

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-100">
                        <h5 class="widget-title">Sobre nosotros</h5>
                        <!-- Nav -->
                        <nav>
                            <ul>
                                <li><a href="#">Pagina Principal</a></li>
                                <li><a href="#">Sobre Nosotros</a></li>
                                <li><a href="#">Servicios &amp; Ofertas</a></li>
                                <li><a href="#">Portfolio</a></li>
                                <li><a href="#">Noticias</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-100">
                        <h5 class="widget-title">Soluciones</h5>
                        <!-- Nav -->
                        <nav>
                            <ul>
                                <li><a href="#">Nuestros prestamos</a></li>
                                <li><a href="#">Comercio</a></li>
                                <li><a href="#">Banca y capital privado</a></li>
                                <li><a href="#">Soluciones financieras</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-100">
                        <h5 class="widget-title">Nuestros prestamos</h5>
                        <!-- Nav -->
                        <nav>
                            <ul>
                                <li><a href="#">Nuestros prestamos</a></li>
                                <li><a href="#">Comercio</a></li>
                                <li><a href="#">Bamcos y capital privado</a></li>
                                <li><a href="#">Industrias</a></li>
                                <li><a href="#">Soluciones financieras</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-100">
                        <h5 class="widget-title">Ultimas noticias</h5>

                        <!-- Single News Area
    <div class="single-latest-news-area d-flex align-items-center">
        <div class="news-thumbnail">
            <img src="../Content/Page/img/bg-img/7.jpg" alt="">
        </div>
        <div class="news-content">
            <a href="#">¿Cómo conseguir el mejor préstamo?</a>
            <div class="news-meta">
                <a href="#" class="post-author"><img src="../Content/Page/img/core-img/pencil.png" alt=""> Jane Smith</a>
                <a href="#" class="post-date"><img src="../Content/Page/img/core-img/calendar.png" alt=""> April 26</a>
            </div>
        </div>
    </div>
        -->
                        <!-- Single News Area
    <div class="single-latest-news-area d-flex align-items-center">
        <div class="news-thumbnail">
            <img src="~/Content/Page/img/bg-img/8.jpg" alt="">
        </div>
        <div class="news-content">
            <a href="#">Una nueva forma de obtener un préstamo</a>
            <div class="news-meta">
                <a href="#" class="post-author"><img src="~/Content/Page/img/core-img/pencil.png" alt=""> Jane Smith</a>
                <a href="#" class="post-date"><img src="~/Content/Page/img/core-img/calendar.png" alt=""> April 26</a>
            </div>
        </div>
    </div>-->
                        <!-- Single News Area
    <div class="single-latest-news-area d-flex align-items-center">
        <div class="news-thumbnail">
            <img src="~/Content/Page/img/bg-img/9.jpg" alt="">
        </div>
        <div class="news-content">
            <a href="#">Financia tu casaa</a>
            <div class="news-meta">
                <a href="#" class="post-author"><img src="~/Content/Page/img/core-img/pencil.png" alt=""> Jane Smith</a>
                <a href="#" class="post-date"><img src="~/Content/Page/img/core-img/calendar.png" alt=""> April 26</a>
            </div>
        </div>
    </div>
        -->

                    </div>
                </div>
            </div>
        </div>

        <!-- Copywrite Area -->
        <div class="copywrite-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="copywrite-content d-flex flex-wrap justify-content-between align-items-center">
                            <!-- Footer Logo -->
                            <a href="index" class="footer-logo"><img src="~/Content/Page/img/core-img/logowhite.png" alt=""></a>

                            <!-- Copywrite Text -->
                            <p class="copywrite-text">
                                <a href="#">
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> Todos los derechos reservados <a href="#" target="_blank">Autoyvaro</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->
    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js
    <script src="~/Content/Page/js/jquery/jquery-2.2.4.min.js"></script>
    -->
    <script src="~/Content/global/vendor/babel-external-helpers/babel-external-helpers.js"></script>

    <script src="~/Content/global/vendor/jquery/jquery.js"></script>

    @*<script src="~/Content/Page/js/jquery/jquery-2.2.4.min.js"></script>*@







    <!-- Popper js -->
    <script src="~/Content/Page/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    @*<script src="~/Content/Page/js/bootstrap/bootstrap.min.js"></script>*@
    @*<link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />*@
    <script src="~/Content/assets/vendor/bootstrap/bootstrap.js"></script>

    <!-- All Plugins js -->
    <script src="~/Content/Page/js/plugins/plugins.js"></script>

    <script src="~/Content/Page/js/WOW.js"></script>

    <!-- Active js -->
    <script src="~/Content/Page/js/active.js"></script>

    <!-- Core  -->
    @*<script src="~/Content/global/vendor/popper-js/umd/popper.min.js"></script>*@
    <script src="~/Content/global/vendor/bootstrap/bootstrap.js"></script>
    <script src="~/Content/global/vendor/animsition/animsition.js"></script>
    <script src="~/Content/global/vendor/mousewheel/jquery.mousewheel.js"></script>
    <script src="~/Content/global/vendor/asscrollbar/jquery-asScrollbar.js"></script>
    <script src="~/Content/global/vendor/asscrollable/jquery-asScrollable.js"></script>
    <script src="~/Content/global/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>

    <!-- Plugins -->
    <script src="~/Content/global/vendor/switchery/switchery.js"></script>
    <script src="~/Content/global/vendor/intro-js/intro.js"></script>
    <script src="~/Content/global/vendor/screenfull/screenfull.js"></script>
    <script src="~/Content/global/vendor/slidepanel/jquery-slidePanel.js"></script>
    <script src="~/Content/global/vendor/formvalidation/formValidation.js"></script>
    <script src="~/Content/global/vendor/formvalidation/framework/bootstrap.js"></script>
    <script src="~/Content/global/vendor/matchheight/jquery.matchHeight-min.js"></script>
    <script src="~/Content/global/vendor/jquery-wizard/jquery-wizard.js"></script>
    <script src="~/Content/global/vendor/toastr/toastr.js"></script>

    <!-- Scripts -->
    <script src="~/Content/global/js/Component.js"></script>
    <script src="~/Content/global/js/Plugin.js"></script>
    <script src="~/Content/global/js/Base.js"></script>
    <script src="~/Content/global/js/Config.js"></script>

    <script src="~/Content/assets/js/Section/Menubar.js"></script>
    <script src="~/Content/assets/js/Section/GridMenu.js"></script>
    <script src="~/Content/assets/js/Section/Sidebar.js"></script>
    <script src="~/Content/assets/js/Section/PageAside.js"></script>
    <script src="~/Content/assets/js/Plugin/menu.js"></script>

    <script src="~/Content/global/js/config/colors.js"></script>
    <script src="~/Content/assets/js/config/tour.js"></script>
    <script>Config.set('assets', '~/Content/assets');</script>

    <!-- Page -->

    <script src="~/Content/assets/js/Site.js"></script>
    <script src="~/Content/global/js/Plugin/asscrollable.js"></script>
    <script src="~/Content/global/js/Plugin/slidepanel.js"></script>
    <script src="~/Content/global/js/Plugin/switchery.js"></script>
    <script src="~/Content/global/js/Plugin/jquery-wizard.js"></script>
    <script src="~/Content/global/js/Plugin/matchheight.js"></script>

    <script src="~/Content/global/js/Plugin/responsive-tabs.js"></script>
    <script src="~/Content/global/js/Plugin/tabs.js"></script>
    <script src="~/Content/global/js/Plugin/asprogress.js"></script>
    <script src="~/Content/global/js/Plugin/panel.js"></script>
    <script src="~/Content/global/js/Plugin/raty.js"></script>
    <script src="~/Content/global/js/Plugin/toastr.js"></script>

    <script src="~/Content/assets/examples/js/advanced/scrollable.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>

