


<div class="topbar">
    <div class="container-fluid">

        <div class="topbar__info">
            <a href="#"><i class="icon-pin"></i> Av. Orizaba 203, Xalapa Veracruz.</a>
            <a href="mailto:asesor@cresetuauto.com"><i class="icon-email"></i>asesor@cresetuauto.com</a>
        </div><!-- /.topbar__info -->

        <div class="topbar__links">
            <a href="#">Iniciar Sesión</a>            
        </div><!-- /.topbar__links -->
        <div class="topbar__social">            
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div><!-- /.topbar__social -->
    </div><!-- /.container-fluid -->
</div><!-- /.topbar -->



<nav class="main-menu">
    <div class="container-fluid">
        <div class="main-menu__logo">

            <svg xmlns="http://www.w3.org/2000/svg" class="main-menu__logo__shape-1" viewBox="0 0 317 120">
                <path d="M259.856,120H0V0H274l43,37.481Z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="main-menu__logo__shape-2" viewBox="0 0 317 120">
                <path d="M259.856,120H0V0H274l43,37.481Z" />
            </svg>


            <a href="/">
                <img src="~/Content/IMG-CRESE/logo.png" width="150" height="82" alt="CreSe">
            </a>
        </div><!-- /.main-menu__logo -->
        <div class="main-menu__nav">
            <ul class="main-menu__list">
                <li class="dropdown">
                    <a href="@Url.Action("Index","Home")">Inicio</a>
                </li>

              

                @*<li>
                    <a href="@Url.Action("Index", "Blog")">Blog</a>
                </li>*@
    

                
                <li><a href="@Url.Action("Contacto","Home")">Contacto</a></li>
            </ul>
        </div><!-- /.main-menu__nav -->
        <div class="main-menu__right">
            <a href="#" class="main-menu__toggler mobile-nav__toggler">
                <i class="fa fa-bars"></i>
            </a>
            
            <a href="#SimuladorCreditoInicio" class="thm-btn main-menu__btn SimuladorCreditoInicio">Simula tu prestamo</a><!-- /.thm-btn -->
            <a href="tel:2282906298" class="main-menu__contact">
                <span class="main-menu__contact__icon">
                    <i class="icon-phone"></i>
                </span><!-- /.main-menu__contact__icon -->
                <span class="main-menu__contact__text">
                    <strong>228 290 6298</strong>
                    Lunes a viernes: 9 am a 6 pm
                </span>
            </a><!-- /.main-menu__contact -->
        </div><!-- /.main-menu__right -->
    </div><!-- /.container-fluid -->
</nav>
<!-- /.main-menu -->