@model AutoyVaro.com.libroazul.www.Precio


<h1>Versión Seleccionada: @ViewBag.version</h1>
    
    <div class="col-md-3" style="">
        <div class="card p-25 flex-row justify-content-between">
            <div class="white">
                <i class="icon icon-circle icon-2x md-mood-bad bg-red-100" aria-hidden="true"></i>

            </div>
            <div class="counter counter-md counter text-right">
                <div class="counter-number-group">
                    <span class="counter-number-related text-capitalize font-size-20">$@(Model.Compra).00</span>
                </div>
                <br />
                <div class="counter-label text-capitalize font-size-14">Precio de Compra</div>
            </div>
        </div>
    </div>

    <div class="col-md-3" style="">
        <div class="card p-25 flex-row justify-content-between">
            <div class="white">                

            </div>
            <div class="counter counter-md counter text-right">
                <div class="counter-number-group">
                    <span class="counter-number-related text-capitalize font-size-20">$@(Model.Venta).00</span>
                </div>
                <div class="counter-label text-capitalize font-size-14">Precio de Venta</div>
            </div>
        </div>
    </div>

    <div class="col-md-3" style="">
        <div class="card p-25 flex-row justify-content-between">
            <div class="white">
                <i class="icon icon-circle icon-2x md-mood-bad bg-red-100" aria-hidden="true"></i>

            </div>
            <div class="counter counter-md counter text-right">
                <div class="counter-number-group">
                    <span class="counter-number-related text-capitalize font-size-20">@(Model.Moneda)</span>
                </div>
                <div class="counter-label text-capitalize font-size-14">Moneda</div>
            </div>
        </div>
    </div>

