<div class="container">
    <div class="row gx-5">
        <div class="col-lg-12">
            <div class="single-terms">
                <h3>Aviso de Privacidad de Auto y Varo SA de CV</h3>
                <p class="text-justify">
                    Con base en la Ley Federal de Protección de Datos Personales de Particulares, Auto y Varo, SA de C.V. reconoce que la privacidad de su información es de suma importancia para usted y nosotros, por lo cual Auto y Varo, SA de CV se encuentra comprometida a resguardar su información personal con la mayor discreción, seguridad legal, tecnológica y administrativa. Así mismo, a no vender, alquilar, compartir o divulgar su información personal a terceros con fines ilícitos o
                    contrarios a los de su titular.
                    <br />
                    De acuerdo a lo anterior, el presente “AVISO DE PRIVACIDAD” se aplica a toda la información, incluyendo a la información personal recopilada por nuestra empresa, así como de terceros con los que celebremos o vayamos a celebrar relación contractual.
                </p>
            </div>
            <div class="single-terms">
                <h3>¿Qué tipo de información recopilamos?</h3>
                <p class="text-justify">
                    En realidad datos personales de usted. En esta recopilación nosotros nos comprometemos a observar y cumplir con los principios de legalidad, consentimiento, información, lealtad y responsabilidad. Esto es, todos los datos que le solicitamos son recabados de manera lícita conforme a la Ley Federal de Protección de Datos en Posesión de los Particulares, con el
                    consentimiento de usted, recopilando única y exclusivamente los datos, pertinente, correctos, actualizados y necesarios para cumplir con nuestro fin único de cumplir con nuestro objeto social.
                    <br />
                    Finalidades a que se sujetara el tratamiento de datos personales.
                    <br />
                    El tratamiento de datos personales del titular que se recaben, y salvo que el titular disponga lo contrario a través del medio descrito en el presente Aviso de Privacidad, tiene como finalidad ser usados para la asesoría, contratación, colocación, comercialización y operación de servicios y productos financieros, identificación de riesgo en la contratación y diseño de productos, beneficios, descuentos, estudios de mercado, información de antecedentes crediticios, notificaciones sobre cambio de condiciones y atender requerimientos legales de autoridades competentes. Las finalidades previamente descritas , dieron origen y son necesarias para la relación jurídica con Auto y Varo, SA de CV.
                </p>
            </div>
            <div class="single-terms">
                <h3>Medios para ejercer los derechos ARCO.</h3>
                <p class="text-justify">
                    En caso de que el titular necesite acceder, rectificar, cancelar u oponerse a los datos personales que ha proporcionado a Auto y Varo, SA de CV, el titular deberá seguir el siguiente procedimiento para ejercer los derechos ARCO:
                    <br />
                    Enviar un correo electrónico en atención a la Unidad de Datos Personales al correo autoyvarocobranza@gmail.com, aviso, mediante el cual serán atendidas dichas solicitudes,señalando lo siguiente:
                </p>
                <ul class="content-feature-list list-style mb-0">
                    <li><i class="ri-checkbox-multiple-line"></i>El nombre completo del Titular, domicilio y correo electrónico para recibir respuesta que se genere con motivo de su solicitud.</li>
                    <li>
                        <i class="ri-checkbox-multiple-line"></i>El motivo de su solicitud.
                    </li>
                    <li><i class="ri-checkbox-multiple-line"></i>Los argumentos que sustenten su solicitud o petición.</li>
                    <li>
                        <i class="ri-checkbox-multiple-line"></i>Documento oficial que acredite su identidad y que demuestre que es quien dice ser.
                    </li>
                    <li>
                        <i class="ri-checkbox-multiple-line"></i>Descripción clara y precisa de los datos personales respecto de los que se busca ejercer alguno de los derechos ARCO, y cualquier otro elemento o documento que facilite la localización de los datos personales.
                    </li>
                    <li>
                        <i class="ri-checkbox-multiple-line"></i>Tratándose de solicitudes de rectificación de datos personales, el titular deberá indicar, además de lo señalado, las modificaciones a realizarse y aportar la documentación que sustente su petición.
                    </li>
                </ul>
                <p class="text-justify">
                    Auto y Varo, SA de CV, notificará por escrito, usando medios electrónicos al titular, en un plazo máximo de 20 (veinte) días hábiles contados desde la fecha en que se recibió la solicitud de acceso, rectificación, cancelación u oposición, la resolución adoptada, a efecto de que, si resulta procedente, se haga efectiva la misma dentro de los 15 (quince) días hábiles siguientes a la fecha en que se comunica la respuesta. Tratándose de solicitudes de acceso a datos personales,
                    procederá la entrega previa acreditación de la identidad del solicitante o representante legal, según corresponda.
                </p>
            </div>
            <div class="single-terms">
                <h3>Data Protection</h3>
                <p class="text-justify">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime nulla minus quasi. Voluptatem, company name saepe ullam autem magni quod sint tempore, eius molestias aliquam debitis. Neque saepe dignissimos repudiandae fuga.
                </p>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil eveniet quas dignissimos <strong>aspernatur</strong> ea pariatur corrupti rerum deserunt, ipsum, ipsa eos veniam aspernatur fuga, optio soluta? Libero neque reiciendis cupiditate dolores nam. Earum eius similique sapiente. Iure, sit non. At fuga ipsam veniam.
                </p>
            </div>
            <div class="single-terms">
                <h3>Transferencia de datos personales.</h3>
                <p class="text-justify">Auto y Varo, SA de CV, transferirá los datos personales del titular a favor de terceros, en los siguientes casos:</p>
                <ol>
                    <li>1.-Sociedades de Información Crediticia a las que se transfiere la información de todos los créditos vigentes y vencidos.</li>
                    <li>a)En la venta o cesión de los derechos de cobro de la cartera disponible a favor de terceros.</li>
                    <li>b)A las instituciones bancarias, a efecto de realizar el depósito de los créditos otorgados y el cobro de los mismos. Así como para ofrecer en garantía a las instituciones bancarias, el cobro de los créditos otorgados a los clientes, para obtener líneas de crédito.</li>
                </ol>
            </div>
            <div class="single-terms">
                <h3>Ley aplicable y jurisdicción.</h3>
                <p class="text-justify">Las partes expresan que el presente aviso, se regirá por las disposiciones legales aplicables en la República Mexicana, en especial, por lo dispuesto en la Ley Federal de Datos Personales en Posesión de los Particulares y su reglamento.</p>
            </div>
            <div class="single-terms">
                <h3>¿Cómo le informaremos sobre cambios al presente aviso de privacidad?</h3>
                <p class="text-justify">
                    Los cambios y actualizaciones del presente aviso de privacidad se harán de su conocimiento en nuestro portal www.autoyvaro.mx y en el estado de cuenta del producto que tenga contratado con nosotros.
                    <br />
                    Si usted considera que su derecho de protección de datos personales ha sido vulnerado por alguna conducta de nuestros empleados o de nuestras actuaciones o respuestas, puede contactar a nuestra Dirección de Protección de Datos Personales, Email autoyvarocobranza@gmail.com ó a los teléfonos: 228 8188280, 228 8203146, 228 8203147 Ext. 114, 107 horario de Lunes a Viernes de 9:00 Hrs. a 17:00 Hrs. y sin perjuicio de su derecho de acudir ante el Instituto Federal de Acceso a la Información y Protección de Datos Personales (IFAI). Para mayor información visite www.ifai.org.mx.
                </p>
            </div>
            <div class="single-terms">
                <h3>Auto y Varo, SA de CV</h3>
                <p class="text-justify">
                    Avenida Orizaba No. 203<br />
                    Colonia Veracruz, C.P. 91020<br />
                    Xalapa, Ver.<br />
                    Teléfono de contacto 228 8188280, 228 8203146, 228 8203147 Ext. 114, 107.<br />
                    <br /><br />
                    Nuestro portal : www.autoyvaro.mx
                    <br /><br />
                    Última actualización: Agosto, 2017.
                </p>
            </div>
        </div>
    </div>
</div>
