<div class="container">
    <div class="row gx-5">
        <div class="col-lg-12">
            <div class="single-terms">
                <h2>Términos y Condiciones</h2>
                <p class="text-justify">Última actualización: Noviembre, 2021.</p>
                <p class="text-justify">
                    Este documento establece los términos y condiciones generales (en adelante, los "Términos y Condiciones") aplicables al uso de la plataforma digital disponible en la URL www.autoyvaro.mx (en adelante, el "Sitio Web") operado por AUTO Y VARO SA DE CV" con domicilio en Avenida Orizaba 203 Fraccionamiento Veracruz en la Ciudad de Xalapa Veracruz CP 91020  RFC CME1406178C1 (en adelante, "Auto y Varo"), por parte de los Usuarios (conforme este término se define más abajo) en el territorio de la República Mexicana ("México").
                    <br /><br />
                    Toda persona física o moral que consulta, navega o utiliza en el Sitio Web (en adelante, el ""Usuario"") entiende y acepta todas las condiciones establecidas en estos Términos y Condiciones, así como todas las demás políticas que se integran a él por referencia, incluyendo la Política de Privacidad (aviso de privacidad), y declara haberse informado de manera clara, comprensible e inequívoca de los mismos.
                    <br /><br />
                    El Usuario se obliga a utilizar el Sitio Web y todas sus funcionalidades de conformidad con la Ley y con estos Términos y Condiciones. Si el Usuario no está de acuerdo con la totalidad de estos Términos y Condiciones debe abstenerse de utilizar el Sitio Web.

                </p>
            </div>
            <div class="single-terms">
                <h3>1. EL SITIO WEB "AUTO Y VARO"</h3>
                <p class="text-justify">
                    Auto y Varo, a través del Sitio Web, pone a disposición una plataforma digital, en la que exhibe las características, generalidades y condiciones de los servicios y productos financieros que pone a disposición de público en general (los "Servicios"). En el Sitio Web los Usuarios podrán obtener información de los productos y servicios financieros que Auto y Varo ofrece al público, así como utilizar el Simulador (según se define más adelante) así como iniciar Solicitudes de Crédito (según se define más adelante).
                    <br /><br />
                    La contratación de cualquiera de los servicios o productos financieros queda sujeta exclusivamente a la discreción de AUTO Y VARO SA DE CV en los términos de los contratos que se suscriban a tal efecto entre AUTO Y VARO SA DE CV y un Usuario cuya solicitud de crédito sea aprobada.
                    <br /><br />
                    La utilización, navegación o consulta del Sitio Web no implica aceptación por parte de Auto y Varo  de la solicitud de servicios o productos financieros u obligación alguna para Auto y Varo de otorgar los servicios o productos financieros que se anuncian en dicho Sitio Web.
                    <br /><br />
                    Estos Términos y Condiciones aplican en relación a la utilización del Sitio Web por parte de los Usuarios. Cualquier otra relación que se establezca entre el Usuarios y Auto y Varo, así como las operaciones financieras que se celebren entre ellos se rigen exclusivamente por las condiciones que expresamente pacten entre ellos.

                </p>

            </div>



            <div class="single-terms">
                <h3>2. UTILIZACIÓN DEL SITIO WEB CREDITAS POR MEDIOS ELECTRÓNICOS</h3>
                <p class="text-justify">
                    Los Usuarios manifiestan su consentimiento para la utilización de medios electrónicos a efectos la aceptación de estos Términos y Condiciones, de acuerdo a lo previsto en el Código Civil Federal y el Código de Comercio en cuanto a la formación contractual mediante manifestación de la voluntad a través de medios electrónicos, ópticos o cualquier otra tecnología.
                    <br /><br />
                    En los términos antes mencionados, los Usuarios aceptan que la manifestación de voluntad realizada por medios electrónicos a través de la red mundial denominada "Internet" utilizada para la navegación en el Sitio Web, configura el consentimiento expreso en los términos del art. 1803 del Código Civil Federal. La información transmitida a través de la mencionada red en el Sitio Web constituye Mensajes de Datos en los términos del Código de Comercio, en tanto información generada, enviada, recibida o archivada por medios electrónicos, ópticos o cualquier otra tecnología.
                    <br /><br />
                    Los Usuarios manifiestan expresamente su consentimiento y aceptan obligarse mediante las operaciones que realicen a través de medios electrónicos, reconociendo plena validez jurídica a los actos otorgados mediante estos medios, los cuales serán conservados por Auto y Varo,  mediante mecanismos que aseguren la autenticidad, integridad, aceptación e inalterabilidad de dichos Mensajes de Datos.
                </p>

            </div>



            <div class="single-terms">
                <h3>3. USUARIOS</h3>
                <p class="text-justify">
                    <strong>A.- CAPACIDAD PARA CONTRATAR</strong>
                    <br />
                    Auto y Varo solo brinda los Servicios a aquellas personas que tengan capacidad legal para contratar, según lo dispuesto por la legislación vigente en México. Si un Usuario no tiene capacidad legal para contratar, debe abstenerse de utilizar los Servicios y el Sitio Web.
                    <br /><br />
                    En caso de utilización del Sitio Web por parte de personas que carecen de capacidad para contratar, sus padres y/o quién resulte legalmente responsable por ellos serán plenamente responsables por sus actos conforme estos Términos y Condiciones, incluyendo las transacciones realizadas, los cargos que se pudieran devengar y los daños y perjuicios que se pudieran derivar de dicha utilización.
                    <br /><br />
                    <strong>B.- INFORMACIÓN PERSONAL</strong>
                    <br />
                    Para el acceso a los Servicios y la utilización del Sitio Web será necesario el acceso mediante la invitación personal dirigida por Auto y Varo y/o sus sociedades relacionadas. Dicha invitación es personal e intransferible.
                    <br /><br />
                    Auto y Varo podrá requerir información de los Usuarios de carácter personal, incluyendo nombre y apellido, domicilio, dirección de correo electrónico, y número de teléfono móvil (en adelante, los "Datos Personales"). Asimismo, Auto y Varo podrá requerir información sobre la situación económica y financiera del Usuario, incluyendo sus bienes inmuebles, muebles, situación salarial, entre otros, incluyendo todo tipo de documentación de soporte tales como facturas, títulos notariales, recibos de nómina, etc. (en adelante, "Información Adicional").
                    <br /><br />
                    El tratamiento de los Datos Personales y de la Información Adicional por parte de Auto y Varo se sujetará a lo dispuesto en el Aviso de Privacidad, que forma parte integrante de estos Términos y Condiciones.
                    <br /><br />
                    El Usuario declara y garantiza la veracidad, exactitud y vigencia de los Datos Personales y de la Información Adicional ingresados y asume el compromiso de mantener dichos Datos Personales actualizados. Si no lo hace, estará incurriendo en un incumplimiento de estos Términos y Condiciones, lo que podría dar lugar, entre otras cosas, a la terminación inmediata de la prestación de los Servicios y del uso del Sitio Web.
                    <br /><br />
                    Auto y Varo no será responsable por la veracidad, exactitud, vigencia y autenticidad de los Datos Personales y/o de la Información Adicional ingresados por el Usuario. El Usuario autoriza expresamente a Auto y Varo a utilizar su información con fines mercadotécnicos o publicitarios.

                </p>

            </div>




            <div class="single-terms">
                <h3>4. USO DE EL SITIO WEB</h3>
                <p class="text-justify">
                    <strong>A. SIMULADOR DE PRODUCTOS FINANCIEROS A TRAVÉS DE EL SITIO WEB</strong>
                    <br />
                    Auto y Varo da a conocer los servicios y productos financieros que ofrece al público en general a través del Sitio Web.
                    <br /><br />
                    Los Usuarios podrán utilizar un mecanismo automático, disponible en el Sitio Web, que simule las variables financieras de ciertos productos financieros que ofrece Auto y Varo (el "Simulador"), tales como préstamos personales , entre otros.
                    <br /><br />
                    La información que se obtenga de la utilización del Simulador es simplemente orientativa, no constituye una oferta vinculante de servicios o productos financieros por parte de Auto y Varo y bajo ningún concepto obliga a Auto y Varo al otorgamiento de servicios o productos financieros.
                    <br /><br />
                    La información de los servicios y productos financieros disponibles para su contratación con Auto y Varo se exhibe exclusivamente para fines informativos. Dicha información no es vinculante y está sujeta a cambios sin previo aviso, conforme lo dispuesto en el punto 7. "Modificaciones" de estos Términos y Condiciones.
                    <br /><br />
                    <strong>B. SOLICITUD DE CRÉDITO</strong>
                    <br />
                    A través del Sitio Web, el Usuario puede iniciar una solicitud para contratar servicios o productos financieros ofrecidos por Auto y Varo(la "Solicitud de Crédito"). Para que una Solicitud de Crédito sea considerada válida, el Usuario deberá completar sus Datos Personales y presentar toda la Información Adicional que se requiera en el apartado del Sitio Web que se utiliza a este efecto.
                    <br /><br />
                    Asimismo, el Usuario otorga su consentimiento expreso para que AUTO Y VARO SA DE CV  realice consultas ante las Sociedades de Información Crediticia, lleve a cabo investigaciones sobre su comportamiento crediticio antes dichas sociedades y/o ante cualquier otro tercero (información crediticia alternativa), por un periodo de 2 años a contar desde la aceptación de estos Términos y Condiciones. Asimismo, el Usuario declara que conoce la naturaleza y alcance de la información contenida en los reportes de crédito y reporte de crédito especial que las sociedades información crediticia podrán emitir, así como el uso que Auto y Varo hará de tal información.
                    <br /><br />
                    La Solicitud de Crédito está sujeta a los criterios para contratar cualquier producto o servicio financiero o crediticio establecidos por Auto y Varo, los cuales pueden ser determinados y modificados en cualquier momento y sin previo aviso, modificándose, en consecuencia, las condiciones para el otorgamiento de un producto o servicio financiero.
                    <br /><br />
                    Dicha Solicitud será vinculante para el Usuario como una oferta jurídicamente vinculante. La Solicitud de Crédito será analizada por Auto y Varo quien podrá aceptarla o denegarla a su exclusiva discreción, y bajo su solo criterio.
                    <br /><br />
                    En caso de aceptación de la solicitud de crédito, Auto y Varo y el Usuario deberán celebrar el contrato correspondiente.
                    <br /><br />
                    Auto y Varo no asume responsabilidad por las decisiones financieras que tome el Usuario en relación a la Solicitud de Crédito, la obtención de dicho crédito mediante celebración de un contrato de crédito con Auto y Varo, o las consecuencias financieras que ello genere.
                    <br /><br />
                    El Usuario acepta y reconoce que incumplir con sus obligaciones le puede generar comisiones e intereses moratorios y que contratar créditos por arriba de su capacidad de pago puede afectar su historial crediticio.

                </p>

            </div>



            <div class="single-terms">
                <h3>5. EL SITIO WEB</h3>
                <p class="text-justify">
                    El Sitio Web que funciona por medios electrónicos, se encuentra a disposición de los Usuarios únicamente para su uso conforme estos Términos y Condiciones, en el Territorio, sin costo alguno, y su acceso y uso es gratuito. Auto y Varo podrá agregar funciones o funcionalidades, mejorar, cambiar o modificar el Sitio Web en cualquier momento a su exclusivo criterio.
                    <br /><br />
                    El Sitio Web cuenta con todos los estándares de seguridad de la industria en relación a seguridad de la información.
                    <br /><br />
                    Auto y Varo podrá incorporar en su Sitio Web enlaces a otros sitios web y funciones de Internet, sin que esto signifique que estos sitios web de terceros sean propiedad o estén operados por nosotros. Auto y Varo no es responsable por el contenido, incluyendo su integridad o veracidad, o aspectos de seguridad de información de sitios de terceros a los cuales dirijan enlaces que estén disponibles en el Sitio Web. El Usuario accederá a dichos sitios web de terceros bajo su exclusiva discreción y responsabilidad.
                    <br /><br />
                    Sujeto al cumplimiento de estos Términos y Condiciones, Auto y Varo le otorga una licencia limitada, no exclusiva, no sublicenciable, revocable, e intransferible para el acceso y uso del Sitio Web solo en relación con su uso de los Servicios a título personal, no comercial.
                    <br /><br />
                    Al usar el sitio web, usted declara, garantiza y acepta expresamente que no usará el Sitio Web o los servicios de tal manera que infrinja o viole los derechos de propiedad intelectual u otros derechos de Auto y Varo o cualquier otra persona o entidad; viole la seguridad de cualquier red informática o romper las contraseñas o los códigos de cifrado de seguridad; viole cualquier ley, norma o regulación, o poner en peligro la seguridad de su cuenta o la de otros usuarios; o realice ingeniería inversa, descompile o intente obtener el código fuente, ideas o datos subyacentes al Sitio Web o relacionados con él.
                    <br /><br />
                    El Usuario comprende y acepta que el Sitio Web puede no siempre estar disponible o ser interrumpido su acceso debido a dificultades técnicas o fallas de Internet, o por cualquier otro motivo ajeno a Auto y Varo, y que Auto y Varo no será responsable por ello.
                    <br /><br />
                    Para acceder al Sitio Web de manera segura y utilizar su funcionalidad por completo, es responsabilidad del Usuario contar con dispositivos y equipos compatibles, servicio de conexión a Internet con antivirus y firewall habilitados, software debidamente actualizado (como navegadores), además de adoptar las medidas de seguridad correspondientes, utilizando herramientas como antivirus, firewall, entre otros, contribuyendo así a la prevención de riesgos cibernéticos y a él buen uso del Sitio Web y los Servicios.

                </p>

            </div>


            <div class="single-terms">
                <h3>6. PROPIEDAD INTELECTUAL</h3>
                <p class="text-justify">

                    El Usuario reconoce y acepta que el Sitio Web, así como todos sus contenidos, es un producto de propiedad de Auto y Varo, protegido leyes de derechos de autor y propiedad intelectual e industrial, así como tratados internacionales.
                    <br /><br />
                    Asimismo, reconoce y acepta que todos los derechos, títulos e intereses asociados al Sitio Web, incluyendo derechos de propiedad intelectual asociados son y seguirán siendo la propiedad única y exclusiva de su titular. Estos Términos y Condiciones y los derechos otorgados en el presente no le transfieren ningún derecho sobre el Sitio Web.
                    <br /><br />
                    El Usuario se abstendrá de reproducir, en todo o en parte el software del Sitio Web, así como de hacer o intentar hacer ingeniería inversa del mismo, descompilarlo, acceder a o modificar en todo o en parte su código fuente o código objeto y, en general, realizar o intentar realizar cualesquiera actos que afecten o pudieran afectar los derechos de propiedad intelectual de Auto y Varo sobre el mismo. Asimismo, acepta no violar, reproducir, imitar, total o parcialmente, ninguna propiedad intelectual de Auto y Varo, así como no utilizar ninguna propiedad intelectual de Auto y Varo para ningún fin que no sea el previsto en estos Términos y permitido por la ley.
                    <br /><br />
                    Los materiales gráficos, logotipos, encabezados de páginas, frases publicitarias, textos escritos incluidos en el Sitio Web son marcas comerciales, creaciones o imágenes comerciales de propiedad de su titular. Dichas marcas, creaciones e imágenes comerciales no pueden ser utilizados por los Usuarios ya que no se otorga licencia de uso alguna. Ningún producto o imagen pueden ser reproducidos, duplicados, copiados, vendidos, revendidos, visitados o explotados para ningún fin, en todo o en parte, sin el consentimiento escrito previo de su titular y/o Auto y Varo, sin perjuicio de las excepciones expresamente señaladas en la ley.

                </p>

            </div>


            <div class="single-terms">
                <h3>7. RESPONSABILIDADES. INDEMNIDAD</h3>
                <p class="text-justify">

                    Auto y Varo se limita a poner a disposición el Sitio Web como plataforma y medio para brindar los Servicios que se detallan en los Términos y Condiciones, así como para facilitar el uso del Simulador y la presentación de una Solicitud de Crédito por parte de un Usuario.
                    <br /><br />
                    Por lo tanto, Auto y Varo, sus afiliadas, directores, gerentes, empleados y subcontratistas no asumirán responsabilidad alguna frente a los Usuarios o cualquier tercero, incluyendo sin limitación, por: (a) los actos de los Usuarios; (b) cualquier daño o perjuicio derivado del uso del Sitio Web o de su mal uso; (c) el incumplimiento por parte de un Usuario a estos Términos y Condiciones; (d) cualquier daño, perjuicio o pérdida al Usuario causados por fallas en el sistema, en el servidor o en la conexión a Internet; (e) actos o hechos ilícitos imputables a, o sufridos por, los Usuarios o cualquier tercero; y (f) supuestos de fuerza mayor o caso fortuito.
                    <br /><br />
                    El Usuario se obliga a mantener indemne y sacar en paz y a salvo a Auto y Varo, sus sociedades relacionadas, afiliadas, directores, gerentes, empleados y subcontratistas de los daños resultantes (incluyendo los costos de defensa) de cualquier incumplimiento a los presentes Términos y Condiciones o de cualquier acto o hecho ilícito imputable al Usuario, en los términos de lo estipulado en esta cláusula.


                </p>

            </div>



            <div class="single-terms">
                <h3>8. TERMINACIÓN</h3>
                <p class="text-justify">
                    Estos Términos y Condiciones se considerarán aceptados en cuanto el Usuario utilice el Sitio Web, y permanecerán vigentes en forma indefinida, hasta el momento en que Auto y Varo o el Usuario así lo determinen.
                    <br /><br />
                    Auto y Varo podrá determinar la terminación de estos Términos y Condiciones por las causales de Suspensión e Inhabilitación, sin necesidad de notificación alguna y sin derecho a reclamo o indemnización alguna a favor del Usuario. Auto y Varo podrá, en cualquier momento suspender de forma temporal o definitiva, la prestación de Servicios en los siguientes supuestos:
                </p>
                <ul class="content-feature-list list-style mb-0">
                    <li><i class="ri-checkbox-multiple-line"></i>La persona carece de capacidad legal para contratar</li>
                    <li>
                        <i class="ri-checkbox-multiple-line"></i>El Usuario ha brindado información que sea falsa, inexacta o fraudulenta.
                    </li>
                    <li><i class="ri-checkbox-multiple-line"></i>Incumplimiento a las disposiciones de estos Términos y Condiciones y todos los documentos que se integran a ellos por referencia.</li>
                    <li>
                        <i class="ri-checkbox-multiple-line"></i>En caso de comportamientos fraudulentos tales como la suplantación de identidad, utilización fraudulenta o indebida de medios de disposición.
                    </li>
                    <li>
                        <i class="ri-checkbox-multiple-line"></i>En caso de uso de manera fraudulenta, violación o intento de violación de estos Términos y condiciones.
                    </li>
                    <li>
                        <i class="ri-checkbox-multiple-line"></i>En caso de comportamientos reñidos con la correcta utilización del Sitio Web.
                    </li>
                </ul>
                <p class="text-justify">
                    Asimismo, Auto y Varo se reserva el derecho de discontinuar los Servicios a un Usuario en forma temporal o definitiva, sin expresión de causa alguna, sin derecho a reclamo o indemnización alguna a favor del Usuario.
                    <br />
                    <br />
                    Sin perjuicio de los otros derechos indicados en estos Términos y Condiciones, en caso de incumplimiento por parte del Usuario, Auto y Varo podrá tomar las acciones que considere apropiadas, incluyendo sin limitación, la terminación de estos Términos y Condiciones, la suspensión del acceso al Sitio Web, la prohibición de ingreso al Sitio Web, bloqueando el dispositivo utilizado por sus direcciones IP para acceder al Sitio Web, contactando al proveedor del servicio de internet para solicitar que bloqueen el acceso al Sitio Web y/o tomar las acciones legales correspondientes.

                </p>
            </div>



            <div class="single-terms">
                <h3>9. MODIFICACIONES A LOS TERMINOS Y CONDICIONES</h3>
                <p class="text-justify">
                    Los Usuarios aceptan y reconocen que Auto y Varo podrá modificar estos Términos y Condiciones, en cualquier momento, y sin necesidad de aviso previo. La versión actualizada de los mismos entrará en vigencia a los 10 (diez) días de su modificación y publicación en el Sitio Web. La versión actualizada de los Términos y Condiciones será de aplicación a los Usuarios en cada oportunidad que utilicen el Sitio Web a partir de su entrada en vigencia.                    
                </p>
                <p class="text-justify">
                    La versión actualizada de estos Términos y Condiciones se encontrará disponible en el Sitio Web. El acceso, navegación o uso del Sitio Web implica su plena aceptación y conocimiento.
                </p>
            </div>


            <div class="single-terms">
                <h3>10. LEY APLICABLE</h3>
                <p class="text-justify">
                    Los presentes Términos y Condiciones se rigen por las leyes de la República Mexicana aplicables del fuero Federal. Para su cumplimento y ejecución serán competentes a los Tribunales competentes en la Ciudad de Xalapa Veracruz, renunciando irrevocablemente en este acto a cualquier otro fuero que pudiera corresponderles con motivo de sus domicilio presentes o futuros, o por cualquier otra causa.
                    <br />
                    Los usuarios podrán acudir a la Procuraduría Federal del Consumidor o a la Comisión Nacional para la Protección de los Usuarios de Servicios Financieros, según corresponda, para iniciar las quejas que consideren pertinentes.
                    <br />
                    Un texto actualizado de este instrumento se mantendrá en el Sitio Web.
                </p>                
            </div>            
        </div>
    </div>
</div>