<script type="text/javascript">
    < !--Testimonial Section Start-- >
        //Testimonial Slider
        $(".blog-slider-three").owlCarousel({
            nav: true,
            dots: false,
            loop: true,
            navText: ['<i class="flaticon-left-arrow-1"></i>', '<i class="flaticon-next"></i>'],
            margin: 25,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true
                },

                650: {
                    items: 2,
                    nav: true
                },

                1050: {
                    items: 3,
                    nav: true
                },

                1250: {
                    items: 4,
                    nav: true,
                    loop: true
                }
            },
            thumbs: false,
            smartSpeed: 1300,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: false,
            responsiveClass: true,
            autoHeight: true,
        });

</script>


<section class="testimonial-wrap ptb-100  bg-albastor">


    <div class="row">
        <div class="col-xs-12">

            <div class="row">
                <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                    <div class="section-title style1 text-center mb-40">
                        <h2>Síguenos en Facebook</h2>
                    </div>
                </div>
            </div>
            <div class="blog-slider-three owl-carousel">

                <div class="testimonial-card style3">
                    <div class="blog-card style1">
                        <div class="blog-img" target="_blank" href="https://www.facebook.com/Autoyvaroprestamos/posts/3184061261851905">
                            <img src="~/IMG/Carrucel-face/Autos-202.jpg" />
                        </div>
                        <div class="blog-info">
                            <ul class="blog-metainfo  list-style">
                                <li><i class="flaticon-user"></i> <a href="#">Auto y Varo Xalapa</a></li>
                                <li><i class="flaticon-calendar"></i>4 de agosto, 2022</li>
                            </ul>
                            <h3><a target="_blank" href="https://www.facebook.com/AutoyVaroXalapa/photos/a.125932895687280/587284529552112">Los mejores Autos de este 2022</a></h3>
                            <a target="_blank" href="https://www.facebook.com/AutoyVaroXalapa/photos/a.125932895687280/587284529552112" class="link style1">
                                Síguenos en Facebook
                                <i class="flaticon-right-arrow"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="testimonial-card style3">
                    <div class="blog-card style1">
                        <div class="blog-img">
                            <img src="~/IMG/Carrucel-face/cotiza tu crédito.png">
                        </div>
                        <div class="blog-info">
                            <ul class="blog-metainfo  list-style">
                                <li><i class="flaticon-user"></i><a href="#">Auto y Varo Xalapa</a></li>
                                <li><i class="flaticon-calendar"></i>05 de Diciembre, 2022</li>
                            </ul>
                            <h3>
                                <a target="_blank" href="https://www.facebook.com/photo/?fbid=548821907254686&set=pcb.548821977254679">
                                    ¡Inicia tu solicitud de crédito!
                                </a>
                            </h3>
                            <a target="_blank" href="https://www.facebook.com/photo/?fbid=548821907254686&set=pcb.548821977254679" class="link style1">
                                Síguenos en Facebook
                                <i class="flaticon-right-arrow"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="testimonial-card style3">
                    <div class="blog-card style1">
                        <div class="blog-img">
                            <img src="~/IMG/Carrucel-face/Búscanos.png">
                        </div>
                        <div class="blog-info">
                            <ul class="blog-metainfo  list-style">
                                <li><i class="flaticon-user"></i><a href="#">Auto y Varo Xalapa</a></li>
                                <li><i class="flaticon-calendar"></i>05 de Diciembre, 2022</li>
                            </ul>
                            <h3>
                                <a target="_blank" href="https://www.facebook.com/photo/?fbid=548821917254685&set=pcb.548821977254679">
                                    ¡Buscanos en nuestra página  oficial www.autoyvaro.mx!

                                </a>
                            </h3>

                            <a target="_blank" href="https://www.facebook.com/photo/?fbid=548821917254685&set=pcb.548821977254679" class="link style1">
                                Síguenos en Facebook
                                <i class="flaticon-right-arrow"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="testimonial-card style3">
                    <div class="blog-card style1">
                        <div class="blog-img">
                            <img src="~/IMG/Carrucel-face/Segundos.png">
                        </div>
                        <div class="blog-info">
                            <ul class="blog-metainfo  list-style">
                                <li><i class="flaticon-user"></i><a href="#">Auto y Varo Xalapa</a></li>
                                <li><i class="flaticon-calendar"></i>05 de Diciembre, 2022</li>
                            </ul>
                            <h3>
                                <a target="_blank" href="https://www.facebook.com/photo?fbid=548821910588019&set=pcb.548821977254679">
                                    ¡Autorizamos tu solicitud de crédito en 2 horas!

                                </a>
                            </h3>

                            <a target="_blank" href="https://www.facebook.com/photo?fbid=548821910588019&set=pcb.548821977254679" class="link style1">
                                Síguenos en Facebook
                                <i class="flaticon-right-arrow"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="testimonial-card style3">
                    <div class="blog-card style1">
                        <div class="blog-img">
                            <img src="~/IMG/Carrucel-face/Ingresa los datos de tu auto.png">
                        </div>
                        <div class="blog-info">
                            <ul class="blog-metainfo  list-style">
                                <li><i class="flaticon-user"></i><a href="#">Auto y Varo Xalapa</a></li>
                                <li><i class="flaticon-calendar"></i>05 de Diciembre, 2022</li>
                            </ul>
                            <h3>
                                <a target="_blank" href="https://www.facebook.com/photo?fbid=548821910588019&set=pcb.548821977254679">
                                    Captura los datos de tu vehículo https://autoyvaro.mx/!

                                </a>
                            </h3>

                            <a target="_blank" href="https://www.facebook.com/photo?fbid=548821910588019&set=pcb.548821977254679" class="link style1">
                                Síguenos en Facebook
                                <i class="flaticon-right-arrow"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="testimonial-card style3">
                    <div class="blog-card style1">
                        <div class="blog-img">
                            <img src="~/IMG/Carrucel-face/solicitud.png">
                        </div>
                        <div class="blog-info">
                            <ul class="blog-metainfo  list-style">
                                <li><i class="flaticon-user"></i><a href="#">Auto y Varo Xalapa</a></li>
                                <li><i class="flaticon-calendar"></i>05 de Diciembre, 2022</li>
                            </ul>
                            <h3>
                                <a target="_blank" href="https://www.facebook.com/photo?fbid=548821910588019&set=pcb.548821977254679">
                                    ¡Contacta un Asesor con gusto te atenderemos!  https://autoyvaro.mx/!

                                </a>
                            </h3>

                            <a target="_blank" href="https://www.facebook.com/photo?fbid=548821910588019&set=pcb.548821977254679" class="link style1">
                                Síguenos en Facebook
                                <i class="flaticon-right-arrow"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="testimonial-card style3">
                    <div class="blog-card style1">
                        <div class="blog-img">
                            <img src="~/IMG/Carrucel-face/75 DE SU VALOR.png">
                        </div>
                        <div class="blog-info">
                            <ul class="blog-metainfo  list-style">
                                <li><i class="flaticon-user"></i><a href="#">Auto y Varo Xalapa</a></li>
                                <li><i class="flaticon-calendar"></i>24 de Noviembre, 2022</li>
                            </ul>
                            <h3>
                                <a target="_blank" href="https://www.facebook.com/photo?fbid=539951974808346&set=a.481865057283705">
                                    ¡Un crédito fácil y rápido! ¡Cotiza aquí! https://autoyvaro.mx/!

                                </a>
                            </h3>

                            <a target="_blank" href="https://www.facebook.com/photo?fbid=539951974808346&set=a.481865057283705" class="link style1">
                                Síguenos en Facebook
                                <i class="flaticon-right-arrow"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="testimonial-card style3">
                    <div class="blog-card style1">
                        <div class="blog-img">
                            <img src="~/IMG/Carrucel-face/tipo_Mesa de trabajo.png">
                        </div>
                        <div class="blog-info">
                            <ul class="blog-metainfo  list-style">
                                <li><i class="flaticon-user"></i><a href="#">Auto y Varo Xalapa</a></li>
                                <li><i class="flaticon-calendar"></i>07 de Diciembre, 2022</li>
                            </ul>
                            <h3>
                                <a target="_blank" href="https://www.facebook.com/photo?fbid=454591260177016&set=a.362475886055221">
                                    ¿Y tú, ya sabes qué harás con el aguinaldo? 🤔

                                </a>
                            </h3>

                            <a target="_blank" href="https://www.facebook.com/photo?fbid=454591260177016&set=a.362475886055221" class="link style1">
                                Síguenos en Facebook
                                <i class="flaticon-right-arrow"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="testimonial-card style3">
                    <div class="blog-card style1">
                        <div class="blog-img">
                            <img src="~/IMG/Carrucel-face/Cotiza credito.png">
                        </div>
                        <div class="blog-info">
                            <ul class="blog-metainfo  list-style">
                                <li><i class="flaticon-user"></i><a href="#">Auto y Varo Xalapa</a></li>
                                <li><i class="flaticon-calendar"></i>12 de Diciembre, 2022</li>
                            </ul>
                            <h3>
                                <a target="_blank" href="https://www.facebook.com/photo?fbid=458325336470275&set=a.362475886055221">
                                    ¡Festeja en grande esta navidad con Auto y Varo! 🎄⭐️ 🤔

                                </a>
                            </h3>

                            <a target="_blank" href="https://www.facebook.com/photo?fbid=458325336470275&set=a.362475886055221" class="link style1">
                                Síguenos en Facebook
                                <i class="flaticon-right-arrow"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="testimonial-card style3">
                    <div class="blog-card style1">
                        <div class="blog-img">
                            <img src="~/IMG/Carrucel-face/regala una navidad.png">
                        </div>
                        <div class="blog-info">
                            <ul class="blog-metainfo  list-style">
                                <li><i class="flaticon-user"></i><a href="#">Auto y Varo Xalapa</a></li>
                                <li><i class="flaticon-calendar"></i>13 de Diciembre, 2022</li>
                            </ul>
                            <h3>
                                <a target="_blank" href="https://www.facebook.com/photo?fbid=459323239703818&set=a.362475886055221">
                                    Gánale a Santa esta Navidad y corre por los regalos. 🎁🎄 🤔

                                </a>
                            </h3>

                            <a target="_blank" href="https://www.facebook.com/photo?fbid=459323239703818&set=a.362475886055221" class="link style1">
                                Síguenos en Facebook
                                <i class="flaticon-right-arrow"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</section>

<!-- Testimonial Section End -->
