
<section class="work-process pb-120 pt-120">
    <div class="work-process__shape-1"></div><!-- /.work-process__shape-1 -->
    <div class="work-process__shape-2"></div><!-- /.work-process__shape-2 -->
    <div class="work-process__shape-3"></div><!-- /.work-process__shape-3 -->

    <div class="container">
        <div class="block-title text-center">
            <p class="block-title__tagline">Proceso ágil</p><!-- /.block-title__tagline -->
            <h2 class="block-title__title">Realiza la solicitud de tu crédito en <br> 4 sencillos pasos</h2><!-- /.block-title__title -->
        </div><!-- /.block-title -->
        <div class="row row-gutter-y-30">
            <div class="col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="000ms">
                <div class="work-process__item">
                    <div class="work-process__icon">
                        <i class="icon-car"></i>
                    </div><!-- /.work-process__icon -->
                    <h3 class="work-process__title"><a href="#">Simula tu crédito</a></h3><!-- /.work-process__title -->
                    <p class="work-process__text">
                        Ingresa los datos de tu vehículo para conocer el monto de tu crédito
                    </p><!-- /.work-process__text -->
                </div><!-- /.work-process__item -->
            </div><!-- /.col-lg-3 col-md-6 col-sm-12 -->
            <div class="col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                <div class="work-process__item">
                    <div class="work-process__icon">
                        <i class="icon-select"></i>
                    </div><!-- /.work-process__icon -->
                    <h3 class="work-process__title"><a href="#">Llena tu solicitud</a></h3><!-- /.work-process__title -->
                    <p class="work-process__text">
                        Llena tu solicitud en línea, de manera rápida y segura.
                    </p><!-- /.work-process__text -->
                </div><!-- /.work-process__item -->
            </div><!-- /.col-lg-3 col-md-6 col-sm-12 -->
            <div class="col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
                <div class="work-process__item">
                    <div class="work-process__icon">
                        <i class="icon-bill"></i>
                    </div><!-- /.work-process__icon -->
                    <h3 class="work-process__title"><a href="#">Entrega de documentos</a></h3><!-- /.work-process__title -->
                    <p class="work-process__text">
                        Realiza la entrega de tus documentos.
                    </p><!-- /.work-process__text -->
                </div><!-- /.work-process__item -->
            </div><!-- /.col-lg-3 col-md-6 col-sm-12 -->
            <div class="col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="300ms">
                <div class="work-process__item">
                    <div class="work-process__icon">
                        <i class="icon-growth"></i>
                    </div><!-- /.work-process__icon -->
                    <h3 class="work-process__title"><a href="#">Recibe tu dinero</a></h3><!-- /.work-process__title -->
                    <p class="work-process__text">
                        Firma tu contrato y recibe el dinero en tu cuenta.
                    </p><!-- /.work-process__text -->
                </div><!-- /.work-process__item -->
            </div><!-- /.col-lg-3 col-md-6 col-sm-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.work-process -->
