<!-- Slider Principal Inicio-->
<section class="testimonial-wrap ptb-10 pt-15 bg-albastor">


    <div class="hero-area">
        <div class="hero-slideshow owl-carousel">

            <!-- Single Slide -->
            <div class="single-slide-xs bg-img">
                <!-- Background Image-->
                <div class="slide-bg-img bg-img" style="background-image: url('../../IMG/Slider-Principal/Solicita desde $20 mil pesos hasta $250 mil pesos.png'); "></div>
                <!-- Welcome Text -->
                <div class="container h-100">
                    <div class="row h-100 align-items-start justify-content-start pt-20">
                        <div class="col-12 col-lg-9">
                            <div class="welcome-text text-center">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h2 data-animation="fadeInUp" data-delay="300ms">Solicita desde $20 mil pesos <span>hasta $250 mil</span> pesos </h2>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide Duration Indicator -->
                <div class="slide-du-indicator"></div>
            </div>


            <!-- Single Slide -->
            <div class="single-slide-xs bg-img">
                <!-- Background Image-->
                <div class="slide-bg-img bg-img" style="background-image: url('../../IMG/Slider-Principal/Obtén un crédito por tu auto sin tener que dejarlo.png'); "></div>
                <!-- Welcome Text -->
                <div class="container h-100">
                    <div class="row h-100 align-items-start justify-content-start pt-20">
                        <div class="col-12 col-lg-9">
                            <div class="welcome-text text-center">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h2 data-animation="fadeInUp" data-delay="300ms">Obtén un crédito por tu auto <span>sin tener que dejarlo</span></h2>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide Duration Indicator -->
                <div class="slide-du-indicator"></div>
            </div>

            <!-- Single Slide -->
            <div class="single-slide-xs bg-img">
                <!-- Background Image-->
                <div class="slide-bg-img bg-img" style="background-image: url('../../IMG/Slider-Principal/Tu dinero en 24 horas.png'); "></div>
                <!-- Welcome Text -->
                <div class="container h-100">
                    <div class="row h-100 align-items-start justify-content-start pt-20">
                        <div class="col-12 col-lg-9">
                            <div class="welcome-text text-center">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h2 data-animation="fadeInUp" data-delay="300ms">
                                            Tu dinero en <span>24</span> horas
                                        </h2>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide Duration Indicator -->
                <div class="slide-du-indicator"></div>
            </div>

            <!-- Single Slide -->
            <div class="single-slide-xs bg-img">
                @*Background Image*@
                <div class="slide-bg-img bg-img" style=" background-image: url('../../IMG/Slider-Principal/Comienza tu solicitud en línea.png'); "></div>
                @*Welcome Text*@
                <div class="container h-100">
                    <div class="row h-100 align-items-start justify-content-start pt-20">
                        <div class="col-12 col-lg-9">
                            <div class="welcome-text text-center">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h2 data-animation="fadeInDown" data-delay="300ms">
                                            Comienza tu solicitud <span>en línea</span>
                                        </h2>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*Slide Duration Indicator*@
                <div class="slide-du-indicator"></div>
            </div>

            <!-- Single Slide -->
            <div class="single-slide-xs bg-img">
                @*Background Image*@
                <div class="slide-bg-img bg-img" style=" background-image: url('../../IMG/Slider-Principal/Tu auto te salva de apuros.png'); "></div>
                @*Welcome Text*@
                <div class="container h-100">
                    <div class="row h-100 align-items-start justify-content-start pt-20">
                        <div class="col-12 col-lg-9">
                            <div class="welcome-text text-center">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h2 data-animation="fadeInDown" data-delay="300ms">
                                            Tu <span>auto</span> te salva de apuros
                                        </h2>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*Slide Duration Indicator*@
                <div class="slide-du-indicator"></div>
            </div>



        </div>
    </div>

</section>
<!-- Slider Principal Fin-->
