<!-- Slider Principal Inicio-->
<section class="testimonial-wrap ptb-10 pt-15 bg-albastor">


    <div class="hero-area">
        <div class="hero-slideshow owl-carousel">

            <!-- Single Slide -->
            <div class="single-slide-xs bg-img">
                <!-- Background Image-->
                <div class="row">
                    <div class="slide-bg-img bg-img col-md-12 silderAdd1"></div>
                </div>
                    <!-- Welcome Text -->
                    <div class="container h-100">
                        <div class="row h-100 align-items-start justify-content-start pt-20">
                            <div class="col-12 col-lg-9">
                                <div class="welcome-text text-center">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h2 data-animation="fadeInUp" data-delay="300ms">Solicita desde $20 mil pesos <span>hasta $500 mil</span> pesos </h2>
                                        </div>
                                        <div class="col-md-4">  </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-8 text-center">
                                            <a href="#cotizador" data-animation="fadeInUp" class="btn style1">Inicia tu Solicitud</a>
                                        </div>

                                        <div class="col-md-4">  </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Slide Duration Indicator -->
                    <div class="slide-du-indicator"></div>
                </div>


                <!-- Single Slide -->
                <div class="single-slide-xs bg-img">
                    <!-- Background Image-->
                    <div class="row">
                        <div class="slide-bg-img bg-img col-md-12 silderAdd2"></div>
                    </div>
                    <!-- Welcome Text -->
                    <div class="container h-100">
                        <div class="row h-100 align-items-start justify-content-start pt-20">
                            <div class="col-12 col-lg-9">
                                <div class="welcome-text text-center">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h2 data-animation="fadeInUp" data-delay="300ms">Obtén un crédito por tu auto<span> Sin tener que dejarlo</span> </h2>
                                        </div>
                                        <div class="col-md-4">  </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-8 text-center">
                                            <a href="#cotizador" data-animation="fadeInUp" class="btn style1">Inicia tu Solicitud</a>
                                        </div>

                                        <div class="col-md-4">  </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Slide Duration Indicator -->
                    <div class="slide-du-indicator"></div>
                </div>


                <!-- Single Slide -->
                <div class="single-slide-xs bg-img">
                    <!-- Background Image-->
                    <div class="row">
                        <div class="slide-bg-img bg-img col-md-12 silderAdd3"></div>
                    </div>
                        <!-- Welcome Text -->
                        <div class="container h-100">
                            <div class="row h-100 align-items-start justify-content-start pt-20">
                                <div class="col-12 col-lg-9">
                                    <div class="welcome-text text-center">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <h2 data-animation="fadeInUp" data-delay="300ms">Tu dinero en <span>24 horas</span> </h2>
                                            </div>
                                            <div class="col-md-4">  </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8 text-center">
                                                <a href="#cotizador" data-animation="fadeInUp" class="btn style1">Inicia tu Solicitud</a>
                                            </div>

                                            <div class="col-md-4">  </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Slide Duration Indicator -->
                        <div class="slide-du-indicator"></div>
                    </div>

                    <!-- Single Slide -->
                <div class="single-slide-xs bg-img">
                    <!-- Background Image-->
                    <div class="row">
                        <div class="slide-bg-img bg-img col-md-12 silderAdd4"></div>
                    </div>
                        <!-- Welcome Text -->
                        <div class="container h-100">
                            <div class="row h-100 align-items-start justify-content-start pt-20">
                                <div class="col-12 col-lg-9">
                                    <div class="welcome-text text-center">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <h2 data-animation="fadeInUp" data-delay="300ms">Comienza tu solicitud <span> ahora </span></h2>
                                            </div>
                                            <div class="col-md-4">  </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8 text-center">
                                                <a href="#cotizador" data-animation="fadeInUp" class="btn style1">Inicia tu Solicitud</a>
                                            </div>

                                            <div class="col-md-4">  </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Slide Duration Indicator -->
                        <div class="slide-du-indicator"></div>
                    </div>

                </div>
    </div>

</section>
<!-- Slider Principal Fin-->
