
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div class="breadcrumb-wrap bg-spring">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-8 col-sm-8">
                <div class="breadcrumb-title">
                    <h2>Préstamo por empeñar tu auto</h2>

                </div>
            </div>

        </div>

    </div>
</div>
<!-- Blog Details Section Start -->
<div class="blog-details-wrap ptb-100">
    <div class="container">
        <div class="row gx-5">
            <div class="col-xl-4 col-lg-12 order-xl-1 order-lg-2 order-md-2 order-2">
                <div class="sidebar">
                    <div class="sidebar-widget style4">

                    </div>

                    <div class="sidebar-widget popular-post">
                        <h4>Siguiente Post</h4>
                        <div class="popular-post-widget">
                            <div class="pp-post-item">
                                <a href="@Url.Action("Afinacion","Blog")"></a>
                                <div class="pp-post-info">
                                    <span><i class="flaticon-calendar"></i>14 de Diciembre de 2023</span>
                                    <h6>
                                        <a href="@Url.Action("Afinacion","Blog")">Afinación de automóviles</a>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-xl-8 col-lg-12 order-xl-2 order-lg-1 order-md-1 order-1">
                <article>

                    <div class="post-img">
                        <img src="~/Content/assets3/img/quenecesitas1.png" />
                    </div>
                    <ul class="post-metainfo  list-style">
                        <li><i class="flaticon-user"></i><a href="posts-by-author.html">Auto y Varo</a></li>
                        <li><i class="flaticon-calendar"></i><a href="posts-by-date.html">05 Agosto, 2022</a></li>

                    </ul>
                    <h2>
                        ¿Qué Necesitas para Obtener un Préstamo por el Empeño de
                        tu Auto?
                        .
                    </h2>
                    <div class="post-para">
                        <p>
                            Lo primero que debes conocer antes de solicitar tu préstamo, es verificar si cumples
                            con los requisitos básicos que piden la mayoría de las instituciones financieras
                            prestamistas en nuestro país:
                        </p>

                        <p>
                            Conoce los requisitos para empeñar tu auto
                        </p>

                        <ul>
                            <li>
                                ● Ser mayor de edad
                            </li>
                            <li>
                                ● Tener un automóvil con una antigüedad no mayor a 10 años
                            </li>
                            <li>● Que el auto esté totalmente pagado</li>
                            <li>● Entregar como garantía la factura o refactura</li>
                        </ul>

                        <p>
                            Algunas instituciones, como Auto y Varo, te brindan la oportunidad de seguir usando
                            tu auto mientras está prendado. En este caso también es posible que te soliciten
                            una copia de la llave de auto y se instala un dispositivo de rastreo GPS para
                            mantener la seguridad de la unidad.
                        </p>

                        <h5>¿Qué documentos te piden para empeñar un carro?</h5>
                        <p>
                            La cantidad de documentos, así como lo elaborado o complejo del trámite de
                            solicitud, depende de cada institución financiera. Por ejemplo Auto y Varo te
                            solicitará los siguientes documentos.
                        </p>

                        <ul>
                            <li>
                                ● Factura o refactura
                            </li>
                            <li>● Tarjeta de circulación</li>
                            <li>
                                ● Identificación oficial
                            </li>
                            <li>● Comprobante de domicilio vigente</li>
                            <li>
                                ● Comprobante bancario
                            </li>
                            <li>● Duplicado de llaves</li>
                            <li>
                                ● Última tenencia pagada
                            </li>
                            <li>● Licencia de conducir</li>
                        </ul>

                        <h5>¿Cómo se empeña un auto?</h5>

                        <ol>
                            <li>
                                1. Acércate a una institución confiable
                            </li>
                            <p>
                                Puedes investigar la calidad del servicio y la confiabilidad de la institución por medio
                                de reseñas de clientes en línea o acudiendo directamente a las oficinas físicas.
                            </p>
                            <li>2. Compara y busca la mejor opción</li>
                            <p>
                                Por ejemplo, en Auto y Varo puedes obtener un préstamo por tu auto por hasta el
                                82% de su valor, en comparación con otras instituciones que te ofrecen un máximo
                                del 60%.
                            </p>
                            <li>
                                3. Cotiza en línea el valor de tu auto
                            </li>
                            <p>
                                Utiliza uno de los cotizadores en línea para tener una idea cercana de la cantidad de
                                dinero que obtendrás por tu auto.
                                Considera que el valor se obtiene a partir de estimaciones que consideran aspectos
                                como el modelo, el año y las características especiales de cada vehículo.
                            </p>
                            <li>4. Solicita el préstamo por el empeño de auto</li>
                            <p>
                                Por último, realiza la solicitud de préstamo. En la mayoría de los casos es un
                                proceso realmente sencillo ya que únicamente necesitas hacer lo siguiente:
                            </p>
                        </ol>

                        <ul>
                            <li>
                                - Escríbenos a través de la página web o al siguiente número de atención a
                                clientes <b>55 6189 8143</b>
                            </li>
                            <li>
                                - Agendamos una entrevista en sucursal con los documentos originales y el
                                auto
                            </li>
                            <li>
                                - Realizamos un expediente con los las fotos del vehículo y las copias de los
                                documentos
                            </li>
                            <li>
                                - Lo mandamos a mesa de control y en un lapso de hora y media estará pre-aprobado tu crédito

                            </li>
                            <li>
                                - Agendamos una pequeña entrevista domiciliaria en la que solo se
                                comprueba que la información coincida
                            </li>

                            <li>
                                - Posteriormente agendamos una cita en sucursal para instalación de GPS y
                                firma de contrato
                            </li>
                            <li>
                                - Al finalizar la instalación se realiza la dispersión del dinero a través de
                                transferencia, te retiras de sucursal con tu auto y tu dinero
                            </li>


                        </ul>

                        <p>
                            En Auto y Varo te brindamos préstamos por el empeño de autos rápidos, ya que los
                            aprobamos en tan solo hora y media y te ofrecemos hasta el 82% del valor de tu
                            auto, sin revisar tu estatus en buró de crédito.
                        </p>

                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
<!-- Blog Details Section End -->
