@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<style>
    p, ul, ol, li {
        font-size: 18px;
    }
</style>

<div class="breadcrumb-wrap bg-spring">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-8 col-sm-8">
                <div class="breadcrumb-title">
                    <h2>Todo lo que Necesitas Saber Sobre las Facturas de Autos</h2>

                </div>
            </div>

        </div>

    </div>
</div>
<!-- Blog Details Section Start -->
<div class="blog-details-wrap ptb-100">
    <div class="container">
        <div class="row gx-5">
            <div class="col-xl-4 col-lg-12 order-xl-1 order-lg-2 order-md-2 order-2">
                <div class="sidebar">
                    <div class="sidebar-widget style4">
                        <div class="search-box">
                            <!--<div class="form-group">
                  <input type="search" placeholder="Search">
                     <button type="submit">
                       <i class="flaticon-search"></i>
                   </button>
                 </div> -->
                        </div>
                    </div>


                    <div class="sidebar-widget popular-post">
                        <h4>Siguiente Post</h4>
                        <div class="popular-post-widget">
                            <div class="pp-post-item">
                                <a href="@Url.Action("Modelos","Blog")"></a>
                                <div class="pp-post-info">
                                    <span><i class="flaticon-calendar"></i>14 de Diciembre de 2023</span>
                                    <h6>
                                        <a href="@Url.Action("Modelos","Blog")">Devaluación de modelos y marcas</a>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xl-8 col-lg-12 order-xl-2 order-lg-1 order-md-1 order-1">
                <article>

                    <div class="post-img">
                        <img src="~/Content/assets3/img/facturas1.png" />
                    </div>
                    <ul class="post-metainfo  list-style">
                        <li><i class="flaticon-user"></i><a href="posts-by-author.html">Auto y Varo</a></li>
                        <li><i class="flaticon-calendar"></i><a href="posts-by-date.html">05 Agosto, 2022</a></li>
                       
                    </ul>
                    <h2>Todo lo que Necesitas Saber Sobre las Facturas de Autos</h2>
                    <div class="post-para">
                        <p>
                            La factura original del auto es emitida por la agencia automotriz y contiene los datos
                            del vendedor, información técnica del auto, así como el nombre del primer
                            propietario, costo total del vehículo y fecha de emisión.
                        </p>

                        <p>
                            En México existen diferentes tipos de factura de autos, por lo que es muy importante
                            conocer sus características para que al momento de adquirir un auto, principalmente
                            usados, estés seguro de que recibirás el título de propiedad adecuado, y lo más
                            importante, para asegurarte que este documento no sea falso.
                        </p>

                        <a href="index.html"></a>
                        <h5>Tipos de Factura de autos</h5>

                        <ul>
                            <li>
                                ● Factura original
                            </li>
                            <li>● Carta factura</li>
                            <li>● Refactura</li>
                            <li>● Factura endosada</li>
                            <li>● Factura de aseguradora</li>
                        </ul>

                        <h5>¿Cómo es una factura original?</h5>
                        <p>
                            La factura original es un comprobante que te acredita como dueño del vehículo.
                            Este tipo de documento lo entrega la agencia automotriz una vez que el auto ha sido
                            pagado por completo, ya sea en una sola exhibición o al finalizar los pagos del
                            crédito del auto. Este documento debe incluir la siguiente información:

                        </p>

                        <ul>
                            <li>
                                ● Membrete y nombre de la empresa concesionaria o agencia que vendió el
                                vehículo, así como razón social, RFC, dirección y teléfono.
                            </li>
                            <li>
                                ● Lugar y fecha de compra.

                            </li>
                            <li>
                                ● Número de factura.

                            </li>
                            <li>● Datos del dueño del auto: Nombre completo, dirección, teléfono y RFC. </li>
                            <li>
                                ● Información técnica del auto: Marca, modelo, año, color, número de serie o
                                NIV de motor, cilindros, tipo de motor, número de ocupantes, número de
                                puertas y país de origen.
                            </li>
                            <li>
                                ● Forma de pago ya sea de contado o a crédit
                            </li>
                            <li>
                                ● Importe total pagado por el auto con desglose de IVA.

                            </li>
                            <li>
                                ● Información de la facturación: Es muy útil para encontrar antecedentes sobre
                                la factura y su registro en el SAT. Puedes encontrar el folio fiscal, el número
                                de certificado digital y un código QR para confirmar la validez del documento.

                            </li>
                        </ul>

                        <p>
                            Por lo tanto, al momento de comprar un auto nuevo de la agencia o al adquirir uno
                            usado con factura original, es necesario que revises que el documento cuente con
                            toda esta información y, de ser necesario, puedes contactar a la agencia de origen
                            para verificar la autenticidad de la factura.
                        </p>

                        <h5>Carta factura</h5>
                        <p>
                            Este documento lo recibes cuando compras un auto de agencia a crédito. Sirve para
                            comprobar que estás en camino de ser el propietario del auto, lo que te permite
                            realizar trámites con fines de control vehicular. Una vez que terminas de pagar el
                            crédito de tu auto esta factura es sustituida por la factura original.
                        </p>

                        <h5>Refactura</h5>
                        <p>
                            El documento se emite por dos razones, la primera y más frecuente la encontrarás
                            al adquirir un vehículo que estuvo a nombre de una empresa o persona moral, el
                            segundo caso lo encuentras cuando la factura original del vehículo fue extraviada.
                            En ambos casos, para que la refactura tenga validez, siempre debe estar
                            acompañada de una copia de la factura original.

                        </p>

                        <h5>¿Cómo saber si es factura original o refacturada?</h5>
                        <p>
                            A pesar de que la refactura incluye datos similares a los de la factura original,
                            puedes diferenciarlos ya que la factura original tiene la información del
                            concesionario automotriz y la refactura contiene el membrete e información de una
                            empresa o persona moral.
                        </p>

                        <h5>
                            Factura endosada
                        </h5>
                        <p>
                            El endoso de una factura consta de una leyenda al reverso, ya sea de la factura
                            original, refactura o carta factura, en el que se ceden los derechos de propiedad del
                            auto. Es recomendable que este endoso se acompañe de un contrato de
                            compraventa para asegurar su validez.
                        </p>

                        <h5>
                            ¿Qué poner en un endoso de carro?
                        </h5>


                        <ul>
                            <li>
                                ● El nombre de quien endosa
                            </li>
                            <li>● El nombre del nuevo propietario</li>
                            <li>● Lugar y fecha del traspaso de propiedad</li>
                            <li>
                                ● Leyenda donde se ceden los derechos de propiedad
                            </li>
                            <li>● Firma de quien endosa</li>
                        </ul>

                        <h5>
                             Factura de aseguradora
                        </h5>

                        <p>
                            Por último, este documento similar a la refactura, es expedido por una aseguradora
                            para indemnizar al propietario por dos principales razones:
                        </p>

                        <ol>
                            <li>
                                1._Robo de vehículo que no se recuperó en los primeros 30 días o fue
                                desvalijado.
                            </li>
                            <li>2._Vehículo que sufrió un accidente con pérdida total.</li>
                            
                        </ol>

                        <p>
                            La factura queda a nombre de la aseguradora, la cual comercializa el auto con
                            talleres especializados que reparan las unidades. Por su origen, por lo regular este
                            tipo de facturas le dan menor valor al auto por el historial que presenta.
                            Ya que te platicamos cómo saber si una factura de auto es original, al desglosar los
                            diferentes tipos de facturas y sus características, podrás tener mayor seguridad al
                            momento de adquirir tu auto nuevo o usado.
                        </p>

                        <p>
                            Tip: ¿Cómo se puede saber si una factura es falsa? En caso de que tengas dudas
                            sobre la veracidad de tu factura recuerda que puedes verificar la autenticidad de los
                            CFDIs en el portal del SAT.
                        </p>

                        <p>
                            Ahora bien, si estás buscando obtener dinero por tu auto una buena idea, antes de
                            vender y perder tu patrimonio, puedes optar por empeñar tu auto ya sea en
                            modalidad GPS o modalidad RESGUARDO.
                        </p>

                        <p>
                            En la primera continúas utilizando tu auto con normalidad en tu día a día y solo
                            dejas en resguardo la Factura. En la segunda opción, el auto y tu factura se quedan
                            resguardadas durante el tiempo que utilizas en préstamo, el beneficio de esta
                            modalidad es que te podemos ofrecer hasta el 82% del valor del auto mientras que
                            en modalidad GPS te ofrecemos el 75% de su valor.
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
<!-- Blog Details Section End -->
