
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<div class="breadcrumb-wrap bg-spring">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-8 col-sm-8">
                <div class="breadcrumb-title">
                    <h2>Obtén un préstamo por tu vehículo sin dejar de usarlo.</h2>

                </div>
            </div>


    </div>
</div>
<!-- Blog Details Section Start -->
<div class="blog-details-wrap ptb-100">
    <div class="container">
        <div class="row gx-5">
            <div class="col-xl-4 col-lg-12 order-xl-1 order-lg-2 order-md-2 order-2">
                <div class="sidebar">
                    <div class="sidebar-widget style4">
                    </div>
    

                    <div class="sidebar-widget popular-post">
                        <h4>Siguiente Post</h4>
                        <div class="popular-post-widget">
                            <div class="pp-post-item">
                                <a href="@Url.Action("Autoyvaro","Blog")"></a>
                                <div class="pp-post-info">
                                    <span><i class="flaticon-calendar"></i>14 de Diciembre de 2023</span>
                                    <h6>
                                        <a href="@Url.Action("Autoyvaro","Blog")">Préstamos en Auto y Varo</a>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xl-8 col-lg-12 order-xl-2 order-lg-1 order-md-1 order-1">
                <article>

                    <div class="post-img">
                        <img src="~/Content/assets3/img/obtenerdinero1.png" />
                    </div>
                    <ul class="post-metainfo  list-style">
                        <li><i class="flaticon-user"></i><a href="posts-by-author.html">Auto y Varo</a></li>
                        <li><i class="flaticon-calendar"></i><a href="posts-by-date.html">20 Agosto, 2022</a></li>

                    </ul>
                    <h2>
                        ¿Cómo Obtener Dinero por tu Auto sin Dejar de Usarlo?
                    </h2>
                       <div class="post-para">

                           <p>
                               Existen varias alternativas para obtener dinero por tu auto sin dejar de usarlo, entre
                               las que destacan trabajar como conductor para plataformas de transporte como
                               Uber o Didi, colocar publicidad en el vehículo o solicitar un préstamo con garantía de
                               auto.
                           </p>

                           <h5>
                               Préstamos con garantía de auto: Para cubrir una emergencia económica
                           </h5>

                           <p>
                               Esta opción resulta especialmente conveniente para hacer frente a cualquier
                               emergencia financiera. Al tratarse de un préstamo respaldado por un bien (tu auto)
                               suele implicar un proceso rápido, ya que no se consulta el estatus en buró de crédito
                               y se solicitan mínimos requisitos.
                           </p>

                           <ol>
                               En Auto y Varo, puedes obtener un préstamo por tu auto por hasta el 75% de su
                               valor de mercado, sin revisar tu calificación en buró de crédito, sin necesidad de
                               aval y puedes seguir usándolo.
                           </ol>

                           <p>
                               Nuestro objetivo es que puedas obtener el mayor provecho de tu préstamo. Por esta
                               razón, también ofrecemos alternativas para que nuestros clientes se pongan al
                               corriente en caso de algún atraso en un pago, sin generar intereses adicionales
                           </p>

                           <p>
                               Para el empeño de autos necesitas la factura o refactura, tarjeta de circulación,
                               identificación oficial, comprobante de domicilio vigente, un auto con antigüedad no
                               mayor a 10 años y que esté completamente pagado.
                           </p>

                           <p>
                               Los préstamos por la factura de tu auto te permiten obtener dinero de forma rápida y
                               confiable, lo mejor de todo es que algunas instituciones como nosotros, te
                               brindamos la oportunidad de seguir usando tu auto prendado.
                           </p>

                        </div>
                </article>
            </div>
        </div>
    </div>
</div>
<!-- Blog Details Section End -->

